  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script src="/javascripts/getBestPlacesToVisit.js"></script>
  <script src="/javascripts/flickr.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/website.js"></script>
  </body>
</html>