  <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script src="/javascripts/flickr.js"></script>
  <script src="/javascripts/app.js"></script>
  </body>
</html>