<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Looking for a scenic route or a great new place to visit? Check out LetsGo, a travel discovery tool that creates the best routes for you on a photo map.">
    <meta name="viewport" content="width=device-width">
    <title>LetsGo - Discover Scenic Highways and Byways</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/map.css" />
    <script>
      if (window.location.hash == '#_=_') {window.location.hash = ''; history.pushState('', document.title, window.location.pathname);}
      
      var PHD4 = {
        mapsKey: "<%- settings.mapsKey %>"
      };
    </script>
  </head>
  <body>
