<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>LetsGo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/map.css" />
    <link rel="stylesheet" href="/stylesheets/closet.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/website.js"></script>
    <script>
      if (window.location.hash == '#_=_') window.location.hash = '';
      
      var PHD4 = {
        mapsKey: "<%- settings.mapsKey %>"
      };
    </script>
  </head>
  <body>