<% include header %>
    <div id="theApp">
      <header>
        <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?">
        </input>
        <a class="round button">Go!</a>
        <div class="headerMenu">
          <% if (!user) { %>
            <h2>Welcome! Please log in. <a href="/auth">Facebook</a></h2>
          <% } else { %>
            <a href="/auth/logout" class="button accountButton loggedIn">
              <img src="http://avatars.io/facebook/<%=user.username%>?size=small" width="26" height="26">
              <%= user.displayName %>
            </a>
          <% } %>
        </div>
      </header>

      <div id="mapFrame"></div>
    </div> <!-- //END theApp -->

<% include footer %>
