<% include header %>


    <div id="welcomeScreen">
      <img id="introLogo" class="hidden" src="/images/LetsGoLogo.png" />
      <div id="bigSearchBar">
        <h1 id="headerBar">Where would you like to go?</h1>
        <div id="searchWrapper">
          <input type="text" class="location bigSearchInput" autocomplete="off" spellcheck="false" id="searchFrom" name="location" placeholder="From:"></input>
          <input type="text" class="location bigSearchInput" autocomplete="off" spellcheck="false"  id="searchTo" name="location" placeholder="To:"></input>
          <a href="#" class="button" id="lookup">Look Here</a>
          <!-- <a href="#" class="button second" id="explore">Explore</a> -->
        </div>
      </div>
    </div>

    <div id="theApp" class="obscured">
      <header>
        <a href="/"><img id="headerLogo" src="/images/LetsGoLogo-sm.png" /></a>
        <input type="text" class="location" autocomplete="off" spellcheck="false" id="searchFromHeader" name="location" placeholder="From:"></input>
        <input type="text" class="location" autocomplete="off" spellcheck="false" id="searchToHeader" name="location" placeholder="To:"></input>
        <a href="#" class="button" id="lookupHeader">Go!</a>
        <div class="headerMenu">
          <% if (!user) { %>
            <a href="/auth" class="button accountButton">Log In</a>
          <% } else { %>
            <span class="button accountButton loggedIn">
              <img src="http://avatars.io/facebook/<%=user.username%>?size=small" width="26" height="26">
              <%= user.displayName %>
            </span>
            <a href="/auth/logout/" class="button logoutButton">
              Logout
            </a>
          <% } %>
        </div>

      </header> <!-- //END Header -->
      <div id="bigPicture">
        <div id="pictureControls">
          <img src="/images/close.png" onclick="smallPicture()">
          <img src="/images/expand.png" onclick="hugePicture()">
        </div>
      </div>
  		<div id="mapFrame"></div>
    </div> <!-- //END theApp -->

<% include footer %>
