<% include header %>


    <div id="welcomeScreen">
      <div id="bigSearchBar">
        <h1 id="headerBar">Where would you like to go?</h1>
        <div id="searchWrapper">
          <input type="text" class="location bigSearchInput" autocomplete="off" id="searchTo" name="location" placeholder="To:"></input>
          <input type="text" class="location bigSearchInput" autocomplete="off" id="searchFrom" name="location" placeholder="From:"></input>
          <a href="#" class="button" onclick="appActivate(); return false;">Look Here</a>
          <a href="#" class="button second">Explore</a>
        </div>
      </div>
    </div>

    <div id="theApp" class="obscured">
      <header>
        <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?">
        </input>
        <a class="button">Go!</a>
        <div class="headerMenu">
          <% if (!user) { %>
            <a href="/auth" class="button accountButton">Log In</a>
          <% } else { %>
            <a href="/auth" class="button accountButton"><%= user.displayName %>.</a>
          <% } %>
        </div>

      </header> <!-- //END Header -->
      <div id="bigPicture"></div>
  		<div id="mapFrame"></div>
    </div> <!-- //END theApp -->

<% include footer %>
