<% include header %>

    <div id="theApp">
      <header class="active">
        <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?">
        </input>
        <a class="button">Go!</a>
        <div class="headerMenu">
          <% if (!user) { %>
            <a href="/auth" class="button accountButton">Log In</a>
          <% } else { %>
            <a href="/auth" class="button accountButton"><%= user.displayName %>.</a>
          <% } %>
        </div>

      </header>

		<div id="mapFrame"></div>
    </div> <!-- //END theApp -->

<% include footer %>
