<% include header %>

    <div id="theApp">
      <header>
        <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?">
        </input>
        <a class="round button">Go!</a>

          <% if (!user) { %>
          <h2>Welcome! Please log in. <a href="/auth">Facebook</a></h2>
        <% } else { %>
          <h2>Hello, <%= user.displayName %>.</h2>
        <% } %>

      </header>

		<div id="mapFrame"></div>
    </div> <!-- //END theApp -->

<% include footer %>
