!!! 5
html(lang="en")
  head
    title letsgo.io - Discover Scenic Highways and Byways
    meta(charset="utf-8")
    meta(name="description", content="Looking for a scenic route or a great new place to visit? Check out LetsGo, a travel discovery tool that creates the best routes for you on a photo map.")
    meta("http-equiv"="X-UA-Compatible", content="IE=8, IE=9, IE=10")
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification", content="5IR88rxZVzs03hKg6hfbxF-_CYvclDbOv-P6o3FWAFM")
    block styles
      link(rel="stylesheet", href="/stylesheets/style.css")
    script
      if (window.location.hash == '#_=_') {
        window.location.hash = '';
        history.pushState('', document.title, window.location.pathname);
      }
    block head
  body
    block content
    footer
      | Powered by 
      a(href="http://nodejs.org/") Node.js 
      | hosted on 
      a(href="http://www.windowsazure.com/") Windows Azure 
      | with 
      a(href="http://bing.com/maps/") Bing Maps 
    script
      var PHD4 = {
        mapsKey: "!{ mapsKey }",
        currentLocation: !{ location }
      };
    block scripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39924021-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
