header {
	position: absolute;
	width: 100%;
	z-index: 42;
	/*top: 0;*/
}

.logoutButton {
	margin-right: 10px;
}

.accountButton img {
	vertical-align: middle;
	padding-right: 4px;
}
.loggedIn {
	padding: 10px 20px 10px 15px;
}